{# src/AppBundle/Resources/view/General/addPerson.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Add Person - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Add Person</h2>

    <div class="well">
        <p>FORM Person</p>
    </div>

{% endblock %}
