{# On utilise ici le layout général, qui se situe dans ce même AppBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Home Page - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Home Page</h2>

    {# On affiche tous les messages flash dont le nom est « notice » #}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}

{% endblock %}
